{% extends "main/base.html" %}

{% block main_content %}
    <form>
    {% csrf_token %}
        Username: {{ user.username }}<br>
        Email: {{ form.email }}<br>
        Phone: {{ form.phone }}<br>

        Type:
        {% if type == 0 %} <!-- student -->
            Student<br>
        {% elif type == 1 %} <!-- instructor -->
            Instructor<br>
            Your Instructor Description: {{ form.description }}<br>
        {% elif type == 2 %} <!-- advertiser -->
            Advertiser<br>
            Company name: {{ form.company_name }} <br>
            Name & Surname: {{ form.name }} <br>
        {% endif %}
    {% if not readonly %}
        <button type="submit" formmethod="post">Save</button><br>
    {% endif %}
    </form>
{% endblock %}