{% extends "main/base.html" %}

{% block main_content %}
    <form>
    {% csrf_token %}
        Username: {{ user.username }}<br>
        Email: {{ form.email }}<br>

        {% if user_type == 2 %}
            Phone: {{ form.phone }}<br>
            Type:
            Advertiser<br>
            Company Name: {{ form.company_name }}<br>
            Name & Surname: {{ form.name }}<br>
        {% elif user_type == 0 %}
            <a href = "/update_to_instructor" class="btn btn-primary">Become An Instructor</a>
            Phone: {{ form.phone }}<br>
            Type:
            Student<br>
        {% elif user_type == 1 %}
            Phone: {{ form.phone }}<br>
            Type:
            Instructor<br>
            Your Instructor Description: <br>
            {{ form.description }}<br>
        {% elif user_type == 3 %}
            Type: Admin<br>
            SSN: {{ form.ssn }}<br>
            Address: {{ form.address }}<br>
        {% endif %}
    {% if request.user.id == user.id %}
        <button type="submit" formmethod="post">Save</button><br>
    {% endif %}
    </form>

    {% if user_type != 2 %}
        <h3>You can add topic below;</h3>
        {% for topic in not_interests %}
            <a href="/interested_in/add/{{topic}}" class="btn btn-light" role="button" >ADD: {{topic}}</a>
        {% endfor %}

        <h3>Interests</h3>
        {% for topic in interests %}
            <a href="/interested_in/remove/{{topic}}" class="btn btn-light" role="button">REMOVE: {{topic}}</a>
        {% endfor %}
    {% endif %}

{% endblock %}