{% extends "main/base.html" %}

{% block main_content %}
    <form>
    {% csrf_token %}
        Username: {{ user.username }}<br>
        Email: {{ form.email }}<br>
        Phone: {{ form.phone }}<br>

        Type:
        {% if user_type == 2 %}
            Advertiser<br>
            Company Name: {{ user.company_name }}<br>
        {% else %}
            {% if user_type == 0 %}
                Student<br>
            {% else %}
                Instructor<br>
                Your Instructor Description: <br>
            {% endif %}
            {{ form.description }}<br>
        {% endif %}
        <button type="submit" formmethod="post">Save</button><br>
    </form>

    {% if user_type != 2 %}
        <h3>You can add topic below;</h3>
        {% for topic in not_interests %}
            <a href="/interested_in/add/{{topic}}" class="btn btn-light" role="button" >ADD: {{topic}}</a>
        {% endfor %}

        <h3>Interests</h3>
        {% for topic in interests %}
            <a href="/interested_in/remove/{{topic}}" class="btn btn-light" role="button">REMOVE: {{topic}}</a>
        {% endfor %}
    {% endif %}

{% endblock %}