{% extends "main/base.html" %}

{% block main_content %}
  <h1>Register to MayaCat</h1>
  <form action={{ path|lower }} method="POST">
    {% csrf_token %}
      Username: {{ form.username }}<br>
      E-mail: {{ form.email }}<br>
      Phone: {{ form.phone }}<br>

      {% if "instructor" in path|lower %}
        Your instructor description: {{ form.description }}<br>
      {% elif "advertiser" in path|lower %}
        Name & Surname: {{ form.name }}<br>
        Company Name: {{ form.company_name }}<br>
      {% endif %}

      Password: {{ form.password }}<br>
    <button type="submit"
                class="btn btn-primary"
                role="button">Create an account!</button><br>
  </form>
{% endblock %}