{% extends "main/base.html" %}



{% block style_block %}
<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>
{% endblock %}


{% block main_content %}
  <h1>Register to MayaCat</h1>

{% if warning_message is not None %}

    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Error: </strong> {{ warning_message }}
    </div>

    {% endif %}

  <form action={{ path|lower }} method="POST">
    {% csrf_token %}
      Username: {{ form.username }}<br>
      E-mail: {{ form.email }}<br>
      Phone: {{ form.phone }}<br>

      {% if "instructor" in path|lower %}
        Your instructor description: {{ form.description }}<br>
      {% elif "advertiser" in path|lower %}
        Name & Surname: {{ form.name }}<br>
        Company Name: {{ form.company_name }}<br>
      {% endif %}

      Password: {{ form.password }}<br>
    <button type="submit"
                class="btn btn-primary"
                role="button">Create an account!</button><br>
  </form>
{% endblock %}