{% extends 'main/base.html' %}

{% block main_content %}

    {% if course is not None %}
        <h1>{{ course.cname }}</h1>
        <h2>by {{ course.owner }}</h2>

        <h2>Rating: {{rating}}</h2>

        <h3>Description</h3>
        <a>{{ course.description }}</a>

        <h3>Including</h3>
        <a>{{ lecture_count }} lecture is included.<br></a>

        <img src = {{ course.course_img }} width="290" height="180" ></img>

        {% if advertisement is not None %}
            <img src = {{ advertisement }} width="290" height="180" ></img>
        {% endif %}

        {% if registered is not None %}

            <h3>Continue Course</h3>
            <a href="/{{course.cno}}/{{course.lecture_set.first}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">

            <h3>Lectures</h3>


        {% else %}

            <a href="/wishlist/add_to_wishlist/{{object.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Wishlist</a>
            <h3>Price {{course.price}}</h3>
            <a href="/cart" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Cart</a>

        {% endif %}

        {% if comments is not None %}
            <ol>
                {% for comment in comments.all %}
                    <li>{{ comment }}</li>
                {% endfor %}
            </ol>
        {% endif %}

        <br>
        <a href="{{ course.slug }}/complain">Complain about the course...</a>

    {% endif %}


{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.cname }}</title>
</head>
<body>
    <h1>Course Details</h1>
    <h2>{{ object.cname }}</h2>
    <h3>{{ object.description }}</h3>

    <form action="/my_courses/add/{{object.slug}}" method="post">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.as_table }}
        <button type="submit"
                class="btn btn-primary"
                role="button">Buy The Course</button><br>
    </form>

    <a href="/wishlist/add_to_wishlist/{{object.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Wishlist</a>
    <ol>
      {% for lecture in lecture_list %}
      <li><a href="{{ lecture.get_url }}">{{ lecture.lecture_name }}</a></li>
      {% endfor %}
    </ol>
</body>
</html>