{% extends 'main/base.html' %}

{% block main_content %}

    {% if course is not None %}
        <h1>{{ course.cname }}</h1>
        <h2>by {{ course.owner }}</h2>

        <h2>Rating: {{rating}}</h2>

        <h3>Description</h3>
        <a>{{ course.description }}</a>

        <h3>Including</h3>
        <a>{{ lecture_count }} lecture is included.<br></a>

        <img src = {{ course.course_img }} width="290" height="180" ></img>

        {% if advertisement is not None %}
            <img src = {{ advertisement }} width="290" height="180" ></img>
        {% endif %}

        {% if registered is not None %}

            <h3>Continue Course</h3>
            <a href="/{{course.cno}}/{{course.lecture_set[0]}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">

            <h3>Lectures</h3>
            <ol>
                {% for lecture in course.lecture_set.all().order_by('lecture_no') %}
                    <li><a href="{{ lecture.get_url() }}">{{ lecture.lecture_name }}</a></li>
                {% endfor %}
            </ol>

        {% else %}

            <a href="/wishlist/add_to_wishlist/{{object.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Wishlist</a>
            <h3>Price {{course.price}}</h3>
            <a href="/cart" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Cart</a>

        {% endif %}

        {% if comments is not None %}
            {% for comment in comments.all() %}
                <li>{{ comment }}</li>
            {% endfor %}
        {% endif %}

    {% endif %}


{% endblock %}