{% extends 'main/base.html' %}

{% block main_content %}

    {% if object is not None %}
        <h1>{{ object.cname }}</h1>
        <h2>by {{ object.owner }}</h2>


        <h2>Description</h2>
        <a>{{ object.description }}</a>

        <h2>Including</h2>
        <a>{{ lecturecnt }} lecture is included.<br></a>

        <img src = {{ object.course_img }} width="290" height="180" ></img>

        <ol>
            {% for lecture in object.lecture_set.all().order_by('lecture_no') %}
                <li><a href="{{ lecture.get_url() }}">{{ lecture.lecture_name }}</a></li>
            {% endfor %}
        </ol>

    {% endif %}

{% endblock %}