{% extends "main/base.html" %}


{% block main_content %}
    {% if user_type == 1 %} <!-- the user is an instructor -->
        <a href="/add" class="btn btn-primary">Request to add a course!</a><br>
    {% endif %}

    <h1>Courses List</h1>

    {% for topic in topic_based %}
        {% for course in topic %}
            {% if course.type == 0 %}
                {% if course.cnt != 0 %}
                    <h3>{{course.topic}}</h3>
                {% endif %}
            {% elif course.type == 1 %}
                <img src="{{ course.course_img.url }}" class="img-thumbnail">
                <br><a href="/{{ course.slug }}">{{ course.cname }}</a><br><br>
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% for object in object_list %}
        {% load static %}
        <img src="{{ object.course_img.url }}" class="img-thumbnail">
        <br><a href="{{ object.get_url }}">{{ object }}</a><br><br>
    {% endfor %}

{% endblock %}