{% extends "main/base.html" %}


{% block main_content %}
    {% if user_type == 1 %} <!-- the user is an instructor -->
        <a href="/add" class="btn btn-primary">Request to add a course!</a><br>
        <a href="/discounts" class="btn btn-primary">See current discounts</a><br>
    {% endif %}

    <h1>Courses List</h1>

    {% for topic in topic_based %}
        {% for course in topic %}
            {% if course.type == 0 %}
                {% if course.cnt != 0 %}
                    <h3>{{course.topic}}</h3>
                {% endif %}
            {% elif course.type == 1 %}
                <iframe src={{ course.course_img }} width="120" height="100" target="_self"></iframe>
                <br><a href="/{{ course.slug }}">{{ course.cname }}</a><br><br>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
    <h3>All Courses</h3>
    {% for object in object_list %}
        <iframe src={{ object.course_img }} width="120" height="100" target="_self"></iframe>
        <br><a href="{{ object.get_url }}">{{ object }}</a><br><br>
    {% endfor %}

{% endblock %}