{% extends "main/base.html" %}


{% block main_content %}
    <h2>Notifications</h2>
        <ol>
            {% if user_type == 0 %}
                {% for ntf in notifications %}
                    {% if ntf.4 == "gift" %}
                        <a href="/{{ntf.3}}">[You receive a gift from {{ntf.2}}] Received Course: {{ntf.1}}</a><br>
                    {% else %}
                        <a href="/{{ntf.3}}">[New announcement] {{ntf.1}}: {{ntf.2}}</a><br>
                    {% endif %}
                {% endfor %}
            {% elif user_type == 1 %}
                {% for ntf in notifications %}
                    {% if ntf.4 == "gift" %}
                        <li><a href="/{{ntf.3}}">[You receive a gift from {{ntf.2}}] Received Course: {{ntf.1}}</a></li><br>
                    {% elif ntf.4 == "ann" %}
                        <li><a href="/{{ntf.3}}">[New announcement] {{ntf.1}}: {{ntf.2}}</a></li><br>
                    {% elif ntf.5 == "post" %}
                        <li><a href="/{{ntf.4}}">[New post from {{ntf.3}}] Course / Lecture: {{ntf.1}} / {{ntf.2}}</a></li><br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ol>
{% endblock %}