{% extends 'main/base.html' %}

{% block style_block %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: left;
}

.header {
    text-align: center;
    background-color: black;
    padding-top: 5px;
    color: white;
    min-height: 70px;
}

.status[data-status="0"] { background-color:#faf4dd; }
.status[data-status="1"] { background-color:#e34e43; }
.status[data-status="2"]  { background-color:#98ee8a; }

</style>

{% endblock %}

{% block main_navigators %}
  <a href="/wishlist" class="btn btn-primary">Favorites</a>
  <a href="/offers" class="btn btn-primary">Offers</a>
{% endblock %}

{% block main_content %}

<div class = "header">
<h1>Welcome Your Offers</h1>
</div>

    <table style="width:100%">
    <caption>Offerings</caption>
    <tr>
        <th>Course Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Price</th>
        <th>Status</th>
    </tr>

    {% for offer in offers_q %}
        <tr data-status="{{offer.status}}" class="status">
        <td>{{ offer.cno }}</td>
        <td>{{ offer.startdate }}</td>
        <td>{{ offer.finishdate }}</td>
        <td>{{ offer.payment }}</td>

            {% if offer.status == 0 %}
                <td>Waiting</td>
            {% elif offer.status == 1 %}
                <td>Refused</td>
            {% elif offer.status == 2 %}
                <td>Accepted</td>
            {% endif %}

            </tr>
    {% endfor %}

</table>

{% endblock %}