{% extends 'main/base.html' %}

{% block main_content %}

    <h1>Shopping Cart</h1>

    {% if count != 0 %}

        {% if count == 1 %}
            <h3>My shopping cart (1 item)</h3>
        {% else %}
            <h3>My shopping cart ({{count}} items)</h3>
        {% endif %}

        <ol>
            {% for item in items %}
                <li>
                    <img src = {{ course.course_img }} width="290" height="180" >
                    <br />Name: {{ item.cname }} <br />Price: {{ item.price }} <br />
                    <form action = "/{{ item.slug }}/cart/trash/{{item.inside_cart_id}}" method = "post">
                        {% csrf_token %}
                        <!--<button type="submit" class="btn btn-primary" role="button">Trash</button><br>-->
                        <input type="submit" value="Trash">
                    </form>
                    <a href="/wishlist/add_to_wishlist/{{item.slug}}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Add To Wishlist</a>
                    {% if item.isGift != user_id or item.isGift == None %}
                        <form action = {{ path|lower }} method="POST">
                            {% csrf_token %}
                            {{ form.errors }}
                            {{ form.as_table }}
                            <p>This course will be sent as a gift. Please enter a username.</p>
                            <label for="receiver_id">Enter Username: </label>
                            <input id="receiver_id" type="text" name="receiver_id" value="{{ receiver_id }}"><br>
                            <input id="item_id" type="hidden" name="item_id" value="{{item.item_id }}"><br>
                            {% if item.receiver_username.0 != None %}
                                <p>Receiver Username: {{item.receiver_username.0}}</p>
                            {% else %}
                                <p>Receiver Username: -</p>
                            {% endif %}
                            <button type="submit" class="btn btn-primary" role="button">Save Username</button><br>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>

        <h2>Total: {{total_price}}</h2>
        <a href="/checkout" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Checkout</a>

    {% else %}
        <h2>Your shopping cart is empty!</h2>
    {% endif %}
{% endblock %}