{% extends 'main/base.html' %}

{% block style_block %}
<style>

    .btn {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 7px 14px;
        font-size: 16px;
    cursor: pointer;
    }

    /* Red */
    .trash {
        border-color: #f44336;
        color: red
    }

    .trash:hover {
        background: #f44336;
        color: white;
    }

    /* Green */
    .heart {
        border-color: #04AA6D;
        color: green;
    }

    .heart:hover {
        background-color: #04AA6D;
        color: white;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 900px;
        border-radius: 5px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
        border-radius: 5px 5px 0 0;
        height: 100%;
    }

    .container {
        padding: 2px 16px;
        float: right;
    }


    /* Float four columns side by side */
    .column {
        float: left;
        width: 50%;
        padding: 10px 10px;
    }

    .first-column {
        width: 70%;
        padding: 0 10px 0 0;
        float: left;
    }

    .second-column {
        width: 30%;
        float: right;
        padding-right: 90px;
        text-align: center;
        top: 50%;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -5px;
        row-gap: 20px;
        float: left;
        padding-left: 30px;
        min-height: 400px;
        clear: both;
        display: inline-block;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .header {
        text-align: center;
        background-color: black;
        padding-top: 5px;
        color: white;
        min-height: 70px;
    }

    .EmptyError{
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }

    .title{
        margin-left: 40px;
        margin-top: 20px;
    }


</style>

{% endblock %}

{% block main_content %}

    <div class="header">
        <h1>Shopping Cart</h1>
    </div>

    {% if count != 0 %}
        <div class="title">
        {% if count == 1 %}
            <h3>My shopping cart (1 item)</h3>
        {% else %}
            <h3>My shopping cart ({{count}} items)</h3>
        {% endif %}
            </div>

    <hr style="width:100%;text-align:left;margin-left:0">

    {% if warning_message is not None %}

    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Error: </strong> {{ warning_message }}
    </div>

    {% endif %}

    <div class="column">
        <div class="first-column">
            <div class="row">
                {% for item in items %}
                    <div class="card" >
                        <div class="d-flex justify-content-start">
                            <iframe src={{ item.course_img }} width="250" height="130" target="_self"></iframe>
                            <div class = "container">
                                Name: {{ item.cname }} <br />Price: {{ item.price }} <br />

                                <form action = "/cart/trash/{{item.inside_cart_id}}" method = "post">
                                    {% csrf_token %}
                                    <button class="btn trash"><i class="fa fa-trash"></i> Trash</button>
                                </form>
                                {% if item.is_wish %}
                                    <a href="/wishlist/add_to_wishlist/{{item.slug}}/to_cart" class="btn heart" tabindex="-1" role="button" aria-disabled="true">Remove From Wishlist</a>
                                {% else %}
                                    <a href="/wishlist/add_to_wishlist/{{item.slug}}/to_cart" class="btn heart" tabindex="-1" role="button" aria-disabled="true">Add To Wishlist</a>
                                {% endif %}
                            </div>

                            <div class = "container">
                                {% if item.isGift != user_id or item.isGift == None %}
                                    <form action = {{ path|lower }} method="POST">
                                        {% csrf_token %}
                                        {{ form.errors }}
                                        {{ form.as_table }}
                                        <p>This course will be sent as a gift. Please enter a username.</p>

                                        <label for="receiver_id">Username: </label>
                                        <input id="receiver_id" type="text" name="receiver_id" value="{{ receiver_id }}">
                                        <input id="item_id" type="hidden" name="item_id" value="{{item.item_id }}"><br>
                                        <button type="submit" class="btn btn-primary" role="button">Save Username</button><br>
                                    </form>

                                    {% if item.receiver_username.0 != None %}
                                        <p>Receiver Username: {{item.receiver_username.0}}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="column">
        <div class="second-column">

            <h2>Total: {{total_price}}</h2>
            <a href="/checkout" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Checkout</a>
        </div>
    </div>

    {% else %}
        <div class = "EmptyError" ><h2>Your shopping cart is empty!</h2></div>
    {% endif %}
{% endblock %}