{% extends 'main/base.html' %}

{% block main_content %}

    <h1>Shopping Cart</h1>

    {% if count != 0 %}

        {% if count == 1 %}
            <h3>My shopping cart (1 item)</h3>
        {% else %}
            <h3>My shopping cart ({{count}} items)</h3>
        {% endif %}

        <ol>
            {% for item in items %}
                <li>
                    <img src = {{ course.course_img }} width="290" height="180" ></img>
                    <br />Name: {{ item.cname }} <br />Price: {{ item.price }} <br />
                    <a href="wishlist/add_to_wishlist/{{course_slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Wishlist</a>

                    <form action = "/{{ item.slug }}/cart/trash/{{item.inside_cart_id}}" method = "post">
                        {% csrf_token %}
                        <!--<button type="submit" class="btn btn-primary" role="button">Trash</button><br>-->
                        <input type="submit" value="Trash">
                    </form>

                </li>
            {% endfor %}
        </ol>

        <h2>Total: {{total_price}}</h2>
        <a href="/checkout" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Checkout</a>

    {% else %}
        <h2>Your shopping cart is empty!</h2>
    {% endif %}
{% endblock %}