{% extends 'main/base.html' %}

{% block style_block %}
<style>

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 270px;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;
    float: left;
    padding-left: 30px;
    min-height: 400px;
    clear: both;
    display: inline-block;
    padding-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    text-align: center;
    background-color: black;
    padding-top: 5px;
    color: white;
    min-height: 70px;
}

.EmptyError{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

</style>

{% endblock %}

{% block main_content %}
    <div class = "header">
        <h1>Wishlist</h1>
    </div>
    {% if wishlist_q %}

            <div class="row">
            {% for wish in wishlist_q %}
                <div class="column">
                    <div class="card" >
                        <iframe src={{ wish.course_img }} width="250" height="130" target="_self"></iframe>

                        <div class="container">
                <a href = "/{{wish.slug}}">{{ wish.cname }}</a>
                            </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% else %}
        <div class = "EmptyError" ><h2>Your wishlist is empty!</h2></div>
    {% endif %}
{% endblock %}