{% extends "main/base.html" %}
{% block main_content %}
    <h3>Accounts</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Create New Student
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form_user.as_table }}
                <input type="submit" name="student_create" value="Create a student!" />
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Create New Instructor
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form_user.as_table }}
                {{ form_instructor.as_table }}
                <input type="submit" name="instructor_create" value="Create an instructor!" />
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Create New SiteAdmin
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form_user.as_table }}
                {{ form_siteadmin.as_table }}
                <input type="submit" name="siteadmin_create" value="Create a site admin!" />
            </form>
          </div>
        </div>
      </div>
        <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              Create New Advertiser
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{ form_user.as_table }}
                {{ form_advertiser.as_table }}
                <input type="submit" name="advertiser_create" value="Create an advertiser!" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <h3>Courses</h3>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingCourse">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#course" aria-expanded="true" aria-controls="collapseOne">
                Create New Course
            </button>
          </h5>
        </div>
        <div id="course" class="collapse" aria-labelledby="headingCourse" data-parent="#accordion">
          <div class="card-body">
            <form action="{% url 'adminpanel:admin_save_course' %}" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                {{ form_course.as_table }}
                <input type="submit" name="course_create" value="Create a course!"/>
            </form>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingLecture">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#lecture" aria-expanded="false" aria-controls="collapseTwo">
              Create New Lecture
            </button>
          </h5>
        </div>
        <div id="lecture" class="collapse" aria-labelledby="headingLecture" data-parent="#accordion">
          <div class="card-body">
            <form action="{% url 'adminpanel:admin_create_lecture' %}" method="post">
                {% csrf_token %}
                {{ form_lecture.as_table }}
                <input type="submit" name="lecture_create" value="Create a lecture!" />
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}