{% extends "main/base.html" %}
{% block main_content %}
  <h3>Refunds Waiting</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Reason</th>
            <th scope="col">Status</th>
            <th scope="col">Course no</th>
            <th scope="col">User id</th>
            <th scope="col">Creation date </th>
        </tr>
        </thead>
        <tbody class="tbody-light">
        {% for refund in refunds %}
            {% if date_diff.forloop.counter > 5 %}
                <tr class="table-danger">
            {% elif date_diff.forloop.counter > 3 %}
                <tr class="table-warning">
            {% else %}
                <tr>
            {% endif %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ refund.reason }}</td>
                <td>{{ refund.status }}</td>
                <td>{{ refund.cno_id }}</td>
                <td>{{ refund.s_username_id }}</td>
                <td>{{ refund.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}