{% extends "main/base.html" %}

{% block style_block %}
<style>
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>
{% endblock %}

{% block main_content %}

    {% if warning_message is not None %}

        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Error: </strong> {{ warning_message }}
        </div>

    {% endif %}

    <a href="/{{course_slug}}">Check the course page<br></a>
    Original thumbnail:<br>

    <iframe src={{ course.course_img }} width="230" height="200" target="_self"></iframe>

    <form method="post" action="" >
    {% csrf_token %}
    {{ course_form.as_table }}
    <button type="submit" formmethod="post" class="btn btn-primary">Save</button><br>
</form>


<br>
     <form action="/{{course_slug}}/edit" method="post">
       {% csrf_token %}
        <label for="addcontributor">New Contributor for the Course: </label>
        <input id="addcontributor" type="text" name="addcontributor" value="{{ addcontributor }}">
        <input type="submit" value="OK">
      </form>
    <h2>Contributor List</h2>
    {% for c_username in contributors %}

        <form action="/{{course_slug}}/deletecontributor/{{c_username}}" method="post">
           {% csrf_token %}
            <a href="/account/{{c_username}}">{{c_username}}</a>
            <input type="submit" value="Delete Contributor">
        </form>

        <br>
    {% endfor %}

{% endblock %}