{% extends "main/base.html" %}


{% block main_content %}

    <h1>Course Details</h1>
    <h2>{{ object.cname }}</h2>
    <h3>{{ object.description }}</h3>

    <!-- aşağıda action=my_courses/add/{ { object.slug }} demek istemiş olabilirsin belki belki -->
    {% if user_type == 2 %}
        <a href="/offer_ad/{{ object.slug }}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Offer Ad</a>
    {% else %}
        {% if not is_gift %}
            <form action={{ path|lower }} method="POST">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.as_table }}
                <button type="submit"
                        class="btn btn-primary"
                        role="button">Add To Cart</button><br>
            </form>
        {% else %}
                <a href="/add_gift_to_cart/{{ object.slug }}" method="POST" class="btn btn-primary" role="button">Add To Cart As Gift</a><br>
        {% endif %}
    {% endif %}

    {% if user_type == 2 %}
        {% if is_wish == 0 %}
            <a href="/wishlist/add_to_wishlist/{{object.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Favorites</a>
        {% else %}
            <a href="/wishlist/add_to_wishlist/{{object.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Remove from Favorites</a>
        {% endif %}
    {% else %}
        {% if is_wish == 0 %}
            <a href="/wishlist/add_to_wishlist/{{object.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Wishlist</a>
        {% else %}
            <a href="/wishlist/add_to_wishlist/{{object.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Remove from Wishlist</a>
        {% endif %}
    {% endif %}
    <ol>
      {% for lecture in lecture_list %}
        {% if is_enrolled == 0 %}
            <li><p>{{ lecture.lecture_name }}</p></li>
        {% else %}
            <li><a href="/{{course_slug}}/{{lecture.lecture_slug}}">{{ lecture.lecture_name }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
{% endblock %}