{% extends "main/base.html" %}

{% block main_content %}

    <a href="/{{course_slug}}">Check the course page<br></a>
    Original thumbnail:<br>

    <iframe src={{ course.course_img }} width="230" height="200" target="_self"></iframe>

    <form method="post" action="" >
    {% csrf_token %}
    {{ course_form.as_table }}
    <button type="submit" formmethod="post" class="btn btn-primary">Save</button><br>
</form>


<br>
     <form action="/{{course_slug}}/edit" method="post">
       {% csrf_token %}
        <label for="addcontributor">New Contributor for the Course: </label>
        <input id="addcontributor" type="text" name="addcontributor" value="{{ addcontributor }}">
        <input type="submit" value="OK">
      </form>
    <h2>Contributor List</h2>
    {% for c_username in contributors %}

        <form action="/{{course_slug}}/deletecontributor/{{c_username}}" method="post">
           {% csrf_token %}
            <a href="/account/{{c_username}}">{{c_username}}</a>
            <input type="submit" value="Delete Contributor">
        </form>

        <br>
    {% endfor %}

{% endblock %}