{% extends "main/base.html" %}


{% block main_content %}
    {% if course is not None %}

    <h1>Course Details</h1>
    <h2>{{ course.cname }}</h2>

    <a href="/account/{{ course.owner }}" >by {{ course.owner }}</a><br><br>

    <iframe src={{ course.course_img }} width="230" height="200" target="_self"></iframe>

    <h2>Rating: {{rating}}</h2>
        {% if is_owner != 0 %}
            <a href="{% url 'courses:course_edit' course.slug %}" class="btn btn-secondary">Edit Course</a>
            {% if course.is_complete == 0 %}
                <a href="{% url 'courses:mark_as_complete' course.slug %}" class="btn btn-secondary">Mark as complete</a>
            {% endif %}
            <a href="{% url 'courses:add_lecture' course.slug %}" class="btn btn-primary">Add Lecture</a>
        {% endif %}

    {% if lecture_list != 0 and lecture_slug != None %}
        {% if finished  %}
            <br><a href="/{{course.slug}}/{{ lecture_slug }}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">RESTART</a>
        {% elif prog is None %}
            <br><a href="/{{course.slug}}/{{ lecture_slug }}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">START</a>
        {% else %}
            <br><a href="/{{course.slug}}/{{ lecture_slug }}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">CONTINUE</a>
        {% endif %}
    {% endif %}

    <h3>Description</h3>
    <a>{{ course.description }}</a>
    {% if contributor_cnt != 0 %}
        <h4>Contributors of the Course</h4>
        {% for contributor in contributors %}
          <a href = /account/{{contributor}}>{{contributor}} {{ contributor.username }} <br></a>
        {% endfor %}
    {% endif %}


    <h3>Including</h3>
    <a>{{ lecture_count }} lecture is included.<br></a>

    {% if user_type == 2 %} <!-- advertiser -->
        <br><a href="/offer_ad/{{ course.slug }}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Offer Ad</a>

        {% if is_wish == 0 %}
            <br><a href="/wishlist/add_to_wishlist/{{course.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Favorites</a>
        {% else %}
            <br><a href="/wishlist/add_to_wishlist/{{course.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Remove from Favorites</a>
        {% endif %}
    {% else %}
        {% if not is_gift %}
            <br><form action={{ path|lower }} method="POST">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.as_table }}
                <button type="submit"
                        class="btn btn-primary"
                        role="button">Add To Cart</button><br>
            </form>
        {% else %}
                <form action = "/cart/gift/{{ course.slug }}" method = "post">
                        {% csrf_token %}
                       <input type="submit" value="Add To Cart As Gift">
                </form>
        {% endif %}
    {% endif %}

    {% if is_owner == 0 and user_type != 2%}
        {% if is_wish == 0 %}
            <a href="/wishlist/add_to_wishlist/{{course.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Add to Wishlist</a>
        {% else %}
            <a href="/wishlist/add_to_wishlist/{{course.slug}}" class="btn btn-light" tabindex="-1" role="button" aria-disabled="true">Remove from Wishlist</a>
        {% endif %}

    {% endif %}

    <h3>Price {{course.price}}</h3>
    {% if course.new_price %}
        <h3>Discounted Price {{course.new_price}}</h3>
    {% endif %}

    {% if advertisement is not None %}
        <h3><br>Advertisement<br></h3>
        <iframe src={{ advertisement.advertisement }} width="230" height="200" target="_self"></iframe>
    {% endif %}

    {% if lecture_count != 0 %}
    <h3><br>Lectures:<br></h3>
    <ol>
      {% for lecture in lecture_list %}
        {% if registered == 0 %}
            <li><p>{{ lecture.lecture_name }}</p></li>
        {% else %}
            <li><a href="/{{ course.slug }}/{{ lecture.lecture_slug }}">{{ lecture.lecture_name }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
    {% else %}
        <h4><br>Lectures: No lectures in this course :(<br></h4>
    {% endif %}

    {% if comments is not None %}
        <h3><br>Comments:<br></h3>
        <ol>
        {% for comment in comments %}
            {% if comment is not None %}
                <li>{{ comment }}</li>
            {% endif %}
        {% endfor %}
        </ol>
    {% else %}
        <h4><br>Comments: No comments for this course :(<br></h4>
    {% endif %}

    {% else %}

        <h1>There is no such course in our database :/</h1>

    {% endif %}
{% endblock %}